<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>静态文件管理</title>
    <style>
        main{
            width: 80%;
            height: 90%;
            margin: 5% 5%;
            /*border: 1px solid black;*/
        }
        #upload{
            width: 25%;
        }
    </style>
    <link href="http://150.158.18.29/webstatic/index.css" rel="stylesheet">
</head>
<script src="http://150.158.18.29/webstatic/vue.min.js"></script>

<body>
    <main id="main">
        <div id="upload">
            <el-upload
                    class="upload-demo"
                    ref="upload"
                    action="/file/upload"
                    :on-success="on_success"
                    :on-error="on_error"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :file-list="fileList"
                    :auto-upload="false"
                    :multiple="true">
                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
                <div slot="tip" class="el-upload__tip">单个文件大小不超过3MB</div>
            </el-upload>
        </div>
        <el-divider></el-divider>
        <el-breadcrumb separator="/">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item><a href="/">活动管理</a></el-breadcrumb-item>
            <el-breadcrumb-item>活动列表</el-breadcrumb-item>
            <el-breadcrumb-item>活动详情</el-breadcrumb-item>
        </el-breadcrumb>
        <div id="fileTable">
            <el-table
                    ref="multipleTable"
                    :data="tableData.filter(data => !search || data.fileName.toLowerCase().includes(search.toLowerCase()))"
                    tooltip-effect="dark"
                    show-overflow-tooltip="true"
                    style="width: 100%"
                    @selection-change="handleSelectionChange">

                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>

                <el-table-column
                        label="名称"
                        min-width="100">
                    <template slot-scope="scope">
                        <span v-if="scope.row.type == 'file'">
                            <el-link href="#" icon="el-icon-document" type="primary">{{ scope.row.fileName }}</el-link>
                        </span>
                        <span v-else-if="scope.row.type == 'dir'">
                            <el-link href="#" icon="el-icon-folder" type="warning">{{ scope.row.dirName }}</el-link>
                        </span>
                    </template>
                </el-table-column>

                <el-table-column
                        label="创建时间"
                        min-width="50">
                    <template slot-scope="scope">{{ getFormatDate(scope.row.createTime) }}</template>
                </el-table-column>

                <el-table-column
                        label="最后修改时间|文件数量"
                        min-width="50">
                    <template slot-scope="scope">
                        <span v-if="scope.row.type == 'file'"> {{ getFormatDate(scope.row.lastModifiedTime) }} </span>
                        <span v-if="scope.row.type == 'dir'"> {{scope.row.fileCount}}个文件</span>
                    </template>
                </el-table-column>

                <el-table-column
                        align="right">
                    <template slot="header" slot-scope="scope">
                        <el-input
                                v-model="search"
                                size="mini"
                                placeholder="输入关键字搜索"/>
                    </template>
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </main>
</body>
<script src="http://150.158.18.29/webstatic/axios.min.js"></script>
<script src="http://150.158.18.29/webstatic/index.js"></script>
<script src="http://150.158.18.29/webstatic/common.js"></script>
<script>
    var v = new Vue({
        el: "#main",
        data() {
            return {
                "fileList": [],
                "tableData": [],
                "search": ""
            }
        },
        methods: {
            getFileList(){
                axios({
                    method: "get",
                    url : "/file/getFileList",
                    data: {
                        path:getQueryVariable("path")
                    }
                }).then(res => {
                    var data = res.data;
                    this.tableData = data.data.dirs.concat(data.data.files);
                    console.log(this.tableData);
                }).catch(error => {
                    this.$message({
                        message: '获取文件信息失败:' + error.message,
                        type: 'error',
                        duration: 1800
                    });
                });
            },
            clearFileList(){
                this.fileList = [];
            },
            on_success(){
                setTimeout(this.clearFileList, 1200)
            },
            on_error(err){
                console.log(err)
                this.$message({
                    message: '上传失败！',
                    type: 'error',
                    duration: 1200
                });
            },
            submitUpload() {
                this.$refs.upload.submit();
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);
            },
            handleSelectionChange(){

            },
            getFormatDate(stamp) {
                var date = new Date(stamp);
                var seperator1 = "-";
                var seperator2 = ":";
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var strDate = date.getDate();
                var hour = date.getHours();
                var min = date.getMinutes();
                var sec = date.getSeconds();
                // if (month >= 1 && month <= 9) {
                //     month = "0" + month;
                // }
                // if (strDate >= 0 && strDate <= 9) {
                //     strDate = "0" + strDate;
                // }
                if(min >= 0 && min <= 9){
                    min = "0" + min
                }
                if(sec >= 0 && sec <= 9){
                    sec = "0" + sec
                }
                var currentdate = year + seperator1 + month + seperator1 + strDate + " " +
                hour + seperator2 + min + seperator2 + sec;
                return currentdate;
            }

        },
        created: function (){
            this.getFileList();
        }
    })
</script>
</html>