<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>静态文件管理</title>
    <style>
        main{
            width: 80%;
            height: 90%;
            margin: 2% 5%;
            /*border: 1px solid black;*/
        }
        #upload{
            width: 25%;
        }
    </style>
    <link href="http://150.158.18.29/webstatic/index.css" rel="stylesheet">
</head>
<script src="http://150.158.18.29/webstatic/vue.min.js"></script>

<body>
    <main id="main">
        <!--文件上传-->
        <div id="upload">
            <el-upload
                    class="upload-demo"
                    ref="upload"
                    action="/file/upload"
                    :data="uploadData"
                    :on-success="on_success"
                    :on-error="on_error"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :file-list="fileList"
                    :auto-upload="false"
                    :multiple="true">
                <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到当前目录</el-button>
                <div slot="tip" class="el-upload__tip">单个文件大小不超过3MB</div>
            </el-upload>
        </div>

        <el-divider></el-divider>

        <!--工具栏-->
        <div id="ops">
            <div id="left-ops" style="float: left">

            </div>
            <div id="right-ops" style="float: right">
                <el-button @click="createDir" size="small" style="float: right" type="warning" icon="el-icon-folder-add">
                    新建文件夹
                </el-button>
            </div>

        </div>

        <!--路径导航-->

        <el-breadcrumb separator="/" style="line-height: 20px;margin-left: 5px">
            <el-breadcrumb-item :to="{ path: '/' }"><a href="/">~</a></el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/' }" v-for="path in pathList">
                <a :href="path.url" v-text="path.name"></a>
            </el-breadcrumb-item>
        </el-breadcrumb>

        <!--文件信息列表-->
        <div id="fileTable">
            <el-table
                    ref="multipleTable"
                    :data="tableData.filter(data => !search || data.fileName.toLowerCase().includes(search.toLowerCase()))"
                    tooltip-effect="dark"
                    show-overflow-tooltip="true"
                    style="width: 100%"
                    @selection-change="handleSelectionChange">

                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>

                <el-table-column
                        label="名称"
                        min-width="100">
                    <template slot-scope="scope">
                        <span v-if="scope.row.type == 'file'">
                            <el-link :href="scope.row.url" icon="el-icon-document" type="primary">
                                {{scope.row.fileName}}
                            </el-link>
                        </span>
                        <span v-else-if="scope.row.type == 'dir'">
                            <el-link :href="'/?path=' + encodeURIComponent(scope.row.dirPath)" icon="el-icon-folder" type="warning">
                                {{scope.row.dirName}}
                            </el-link>
                        </span>
                    </template>
                </el-table-column>

                <el-table-column
                        label="文件大小|文件数量"
                        min-width="50">
                    <template slot-scope="scope">
                        <span v-if="scope.row.type == 'file'" v-text="getFileSize(scope.row.size)"></span>
                        <span v-if="scope.row.type == 'dir'" v-text="scope.row.fileCount + '个文件'"></span>
                    </template>
                </el-table-column>

                <el-table-column
                        label="最后修改时间"
                        min-width="50">
                    <template slot-scope="scope">
                        <span v-text="getFormatDate(scope.row.lastModifiedTime)"></span>
                    </template>
                </el-table-column>

                <el-table-column
                        align="right">
                    <template slot="header" slot-scope="scope">
<!--                        <el-input-->
<!--                                v-model="search"-->
<!--                                size="mini"-->
<!--                                placeholder="输入关键字搜索"/>-->
                        <span v-text="'共' + dirInfo.fileCount + '个文件'"></span>
                    </template>
                    <template slot-scope="scope">
                        <el-button
                                v-if="scope.row.type === 'file'"
                                size="mini"
                                v-clipboard:copy="scope.row.url"
                                @click="handleEdit(scope.$index, scope.row)">复制链接</el-button>
                        <el-button
                                v-if="scope.row.type === 'dir'"
                                size="mini"
                                v-clipboard:copy="scope.row.dirPath"
                                @click="handleEdit(scope.$index, scope.row)">复制路径</el-button>
                        <el-button
                                v-if="scope.row.type === 'file'"
                                size="mini"
                                type="danger"
                                @click="DeleteFile(scope.$index, scope.row)">删除文件</el-button>
                        <el-button
                                v-if="scope.row.type === 'dir'"
                                size="mini"
                                type="danger"
                                @click="DeleteDir(scope.$index, scope.row)">删除文件夹</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </main>
</body>
<script src="http://150.158.18.29/webstatic/axios.min.js"></script>
<script src="http://150.158.18.29/webstatic/index.js"></script>
<script src="http://150.158.18.29/webstatic/common.js"></script>
<script src="http://150.158.18.29/webstatic/v-clipboard.min.js"></script>
<script src="/main.js"></script>
</html>